<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 02.02.2023, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>もうびっくりした！誰かに乗っ取られたかと思った。笑 </p>
        </div>

        <div>
            <p>公開日: 2023/01/28, 12:14</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p> どこかいいところに入れますように！ </p>
        </div>
    </body>
</html>